.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.auto.tfvars
*.auto.tfvars.json
secrets.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.idea/
.vscode/
.DS_Store
