[defaults]
host_key_checking = False
retry_files_enabled = False
inventory = inventory.json
roles_path = Roles
timeout = 60
connect_timeout = 30
interpreter_python = /usr/bin/python3
stdout_callback = default
display_skipped_hosts = True

[privilege_escalation]
become = True
become_method = sudo
